@using KoRequireMVCSample.Extensions

<div class="container">
    <div class="row">
        <h2 data-bind="text: title"></h2>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Edit</th>
                    <th scope="col">Product Type Code</th>
                    <th scope="col">Product Type Description</th>
                    <th scope="col"> Delete </th>
                </tr>
            </thead>
            <tbody data-bind="foreach: ProductTypeLists">
                <tr>
                    <td scope="row"><button class="btn btn-outline-info"  data-toggle="modal" data-target="#EditProductTypeModal" data-bind="click: $root.EditProductType">Edit</button></td>
                    <td scope="row" data-bind="text: Product_Type_Code"></td>
                    <td scope="row" data-bind="text: Product_Type_Description"></td>
                    <td scope="row"><button class="btn btn-outline-danger" data-bind="click: $root.DeleteProductType">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-primary" data-toggle="modal" data-target="#AddProductTypeModal">Add</button>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="AddProductTypeModal" tabindex="-1" role="dialog" aria-labelledby="AddProductTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddProductTypeModalLabel">Add Product Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <form>
                            <div class="form-group">
                                <label for="ProductTypeCode">Product Type Code: </label>
                                <input id="ProductTypeCode" type="text" class="form-control" disabled value="0" />
                            </div>
                            <div class="form-group">
                                <label for="ParentProductTypeCode">Parent Product Type Code: </label>
                                <select class="form-control" id="ParentProductTypeCode" data-bind="options: ProductTypeLists, 
                                                                                                   optionsText: 'Product_Type_Description', 
                                                                                                   optionsValue: 'Product_Type_Code', 
                                                                                                   value: SelectedProductTypeForAdd,
                                                                                                   optionsCaption: '-- Select Product Type Code --'"></select>
                            </div>
                            <div class="form-group">
                                <label for="ProductTypeDescription"> Description:  </label>
                                <input id="ProductTypeDescription" type="text" class="form-control" data-bind="value: ProductTypeDescriptionForAdd" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: AddProductType">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="EditProductTypeModal" tabindex="-1" role="dialog" aria-labelledby="EditProductTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditProductTypeModalLabel">Edit Product Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <form>
                            <div class="form-group">
                                <label for="EditProductTypeCode">Product type Code: </label>
                                <input id="EditProductTypeCode" type="text" class="form-control" disabled data-bind="value: EditProductCode" />
                            </div>
                            <div class="form-group">
                                <label for="EditParentProductTypeCode">Parent Product Type Code: </label>
                                <select class="form-control" id="EditParentProductTypeCode" data-bind="options: ProductTypeLists, 
                                                                                                   optionsText: 'Product_Type_Description', 
                                                                                                   optionsValue: 'Product_Type_Code', 
                                                                                                   value: EditParentProductCode,
                                                                                                   optionsCaption: '-- Select Product Type Code --'">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="EditProductTypeDescription">Description: </label>
                                <input id="EditProductTypeDescription" type="text" class="form-control" data-bind="value: EditProductDescription" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: SaveEditProductType">Save changes</button>
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    @Html.InitPageMainModule("vm/ProductType/productTypeviewmodel")
}

