@{
    ViewBag.Title = "Home Page";
}

<section>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Test Variable1: </label>
                    <input type="text" class="form-control" data-bind="value: testVariable" />
                </div>                
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Test Variable2: </label>
                    <input type="text" class="form-control" data-bind="value: testVariable2" />
                </div>                
            </div>
                       
        </div>
        <div class="row">
            <div class="col-lg-1">
                <button class="btn btn-primary" data-bind="click: PostIt">Post</button>
            </div>
            <div class="col-lg-1">
                <button class="btn btn-default" data-bind="click: Nextpage">Next</button>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/KOViewModels/HomeIndex.js">
</script>