@using KoRequireMVCSample.Extensions

<div class="container">
    <div class="row">
        <h2 data-bind="text: title"></h2>
    </div>
</div>

@section scripts {
    @Html.InitPageMainModule("vm/ProductImage/EditproductImageviewmodel")   
}